/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page geostypesguide Type Mappings

    @tableofcontents

    |!GEOS Type|!Qore Type
    |Coordinate|\c hash<GEOSCoordinate>
    |Extent (bounding box)|\c hash<GEOSExtent>
    |Geometry|@ref Qore::GEOS::GEOSGeometry "GEOSGeometry"
    |WKT string|\c string
    |WKB data|\c binary
    |GeoJSON string|\c string
*/
