/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page geosconstantsguide Constants

    @tableofcontents

    - @ref geos_geometry_type_constants "Geometry Type Constants" - integer constants for geometry type
      identification (\c GEOS_POINT, \c GEOS_LINESTRING, \c GEOS_POLYGON, etc.)
    - @ref geos_make_valid_constants "MakeValid Method Constants" - repair methods
      (\c GEOS_MAKE_VALID_LINEWORK, \c GEOS_MAKE_VALID_STRUCTURE)
    - @ref geos_buffer_style_constants "Buffer Style Constants" - cap and join styles for buffering
      (\c GEOSBUF_CAP_ROUND, \c GEOSBUF_CAP_FLAT, \c GEOSBUF_JOIN_MITRE, etc.)
*/
