/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page geosconstantsguide Constants

    @tableofcontents

    - @ref geos_geometry_type_constants "Geometry Type Constants" - integer constants for geometry type
      identification (@ref Qore::GEOS::GEOS_POINT "GEOS_POINT", @ref Qore::GEOS::GEOS_LINESTRING "GEOS_LINESTRING", @ref Qore::GEOS::GEOS_POLYGON "GEOS_POLYGON", etc.)
    - @ref geos_make_valid_constants "MakeValid Method Constants" - repair methods
      (@ref Qore::GEOS::GEOS_MAKE_VALID_LINEWORK "GEOS_MAKE_VALID_LINEWORK", @ref Qore::GEOS::GEOS_MAKE_VALID_STRUCTURE "GEOS_MAKE_VALID_STRUCTURE")
    - @ref geos_buffer_style_constants "Buffer Style Constants" - cap and join styles for buffering
      (@ref Qore::GEOS::GEOSBUF_CAP_ROUND "GEOSBUF_CAP_ROUND", @ref Qore::GEOS::GEOSBUF_CAP_FLAT "GEOSBUF_CAP_FLAT", @ref Qore::GEOS::GEOSBUF_JOIN_MITRE "GEOSBUF_JOIN_MITRE", etc.)
*/
