/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page geosfunctionsguide Standalone Functions

    @tableofcontents

    - @ref Qore::GEOS::geos_version() "geos_version()" - Returns the GEOS version string
    - @ref Qore::GEOS::get_geos_info() "get_geos_info()" - Returns detailed GEOS version information
    - @ref Qore::GEOS::parse_wkt() "parse_wkt()" - Convenience WKT parsing
    - @ref Qore::GEOS::make_wkt() "make_wkt()" - Convenience WKT serialization
    - @ref Qore::GEOS::parse_wkb() "parse_wkb()" - Convenience WKB parsing
    - @ref Qore::GEOS::make_wkb() "make_wkb()" - Convenience WKB serialization
    - @ref Qore::GEOS::parse_geojson() "parse_geojson()" - Convenience GeoJSON parsing
    - @ref Qore::GEOS::make_geojson() "make_geojson()" - Convenience GeoJSON serialization
    - @ref Qore::GEOS::geos_create_point() "geos_create_point()" - Create point from coordinates
    - @ref Qore::GEOS::geos_create_linestring() "geos_create_linestring()" - Create linestring from coordinates
    - @ref Qore::GEOS::geos_create_polygon() "geos_create_polygon()" - Create polygon from coordinate rings
    - @ref Qore::GEOS::geos_create_collection() "geos_create_collection()" - Create geometry collection
    - @ref Qore::GEOS::geos_create_empty_collection() "geos_create_empty_collection()" - Create empty collection
    - @ref Qore::GEOS::geos_create_rectangle() "geos_create_rectangle()" - Create rectangle from bounds
    - @ref Qore::GEOS::geos_relate_pattern_match() "geos_relate_pattern_match()" - Test DE-9IM pattern match
    - @ref Qore::GEOS::geos_polygonize() "geos_polygonize()" - Build polygons from linework
    - @ref Qore::GEOS::geos_cluster_dbscan() "geos_cluster_dbscan()" - DBSCAN spatial clustering
    - @ref Qore::GEOS::geos_orientation_index() "geos_orientation_index()" - Point orientation test
    - @ref Qore::GEOS::geos_segment_intersection() "geos_segment_intersection()" - Line segment intersection
*/
